.Navbar {
  background-color: #e6af2e;
  display: flex;
  justify-content: space-between;
}
.left-side {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.Link {
  position: relative;
  color: #ececec;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
}

.Link:hover {
  color: #282f44;
}

span {
  position: absolute;
  top: 12px;
  left: 23px;
  color: #282f44;
  font-size: 1.2rem;
}
